### Web .gitignore settings.

# dependencies
web/node_modules
web/.pnp
web/.pnp.js

# testing
web/coverage

# production
web/build

# misc
web/.DS_Store
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local

web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*

### Server .gitignore settings.

# Ignore bundler config.
server/.bundle

# Ignore the default SQLite database.
server/db/*.sqlite3
server/db/*.sqlite3-journal
server/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
server/log/*
server/tmp/*
!server/log/.keep
!server/tmp/.keep

# Ignore uploaded files in development.
server/storage/*
!server/storage/.keep
server/.byebug_history

# Ignore master key for decrypting credentials and more.
server/config/master.key

### Emacs .gitignore settings.
*~
\#*\#
.\#*